<h1 class="page-header">Metric : {{tag}}</h1>

<form class="form-inline" action="/metrics/{{tag}}/q" id="metricQueryForm" method="post">
    <div class="form-group">
        <label for="inputVersion">App Version</label>
        <input type="text" class="form-control" id="inputVersion" name="appVersion" placeholder="App Version" value="{{body.appVersion}}">
    </div>
    <div class="form-group">
        <label for="inputHostname">Host</label>
        <input type="text" class="form-control" id="inputHostname" name="hostname" placeholder="Host" value="{{body.hostname}}">
    </div>
    <div class="form-group">
        <label for="inputDeviceModel">Device Model</label>
        <input type="text" class="form-control" id="inputDeviceModel" name="deviceModel" placeholder="Device Model" value="{{body.deviceModel}}">
    </div>
    <div class="form-group">
        <label for="inputOSType">OS Type</label>
        <input type="text" class="form-control" id="inputOSType" name="osType" placeholder="OS Type" value="{{body.osType}}">
    </div>
    <div class="form-group">
        <label>Range:</label>
        <input id="inputHoursSlider" name="hour" data-slider-id='hoursSlider' type="text" data-slider-min="1" data-slider-max="12" data-slider-step="1" data-slider-value="6"/>
        <label>Hours</label>
        <select name="rangeType">
            <option value="B" selected>Before</option>
            <option value="A">After</option>
        </select>
        <div class='input-group date' id='dateTimePicker'>
            <input type='datetime' class="form-control" name="time" value="{{body.time}}" required/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        <input type="hidden" id="inputUtcTime" name="utcTime" value="{{body.utcTime}}" required/>
    </div>
    <button type="button" onclick="loadFormResult('metricQueryForm')" class="btn btn-primary">Search</button>
</form>

<canvas id="metricChart" width="800" height="200"></canvas>

<h2 class="sub-header">Metric Lists</h2>
<div>
    <table class="table table-bordered table-hover">
        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>App</th>
            <th>CreateTime</th>
            <th>Device</th>
            <th>Operations</th>
        </tr>
        </thead>
        <tbody>
        {{#each metrics}}
            <tr>
                <th scope="row">{{@index}}</th>
                <td>{{this.appName}}-{{this.appVersion}}</td>
                <td>{{this.createTime}}</td>
                <td>{{this.device.model}}</td>
                <td><a href="javascript:showModal('/metrics/{{this._id}}/raw')">Raw</a></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //date picker
        $('#dateTimePicker').datetimepicker();
        $('#dateTimePicker').on('dp.change', function (e) {
            $('#inputUtcTime').val(e.date.format());
        });
        //slider
        $('#inputHoursSlider').slider({
            formatter: function(value) {
                return 'Current value: ' + value;
            }
        });
        //chart
        var values = {{formatMetricStatsResult stats}};

        var ctx = $('#metricChart');
        var metricChart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [{
                    label: '5 min Metric',
                    fill: false,
                    borderColor: '#DA3838',
                    borderWidth: 1,
                    pointRadius: 0.5,
                    pointHindRadius: 10,
                    data: values
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            displayFormats: {
                                hour: 'DD/MM HHA',
                            },
                            unit: 'hour',
                            tooltipFormat: 'll HH:mm'
                        },
                        position: 'bottom',
                    }]
                }
            }
        });
    });
</script>